.big-picture-container {
    background-image: url("./1.jpg");
}

.big-picture-content {
    padding: 80px 0;
}

.big-picture-header {
    margin-top: 80px;
    margin-bottom: 20px;
}

.big-picture-title {
    color: #ffffff;
    font-size: 36px;
}